# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 61feea49af74

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan: PA2 #EBBCan:gpio28

[adxl345]
cs_pin: EBBCan: PB12 #EBBCan:gpio1
spi_software_sclk_pin: EBBCan: PB10 #EBBCan:gpio2
spi_software_mosi_pin: EBBCan: PB11 #EBBCan:gpio0
spi_software_miso_pin: EBBCan: PB2 #EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
#probe_points: 100, 100, 20
accel_per_hz: 100
accel_chip: adxl345
probe_points:
	176, 175, 40

[extruder]
step_pin: EBBCan: PD0 #EBBCan:gpio18
dir_pin: EBBCan: PD1 #EBBCan:gpio19
enable_pin: !EBBCan: PD2 #!EBBCan:gpio17
microsteps: 16
full_steps_per_rotation: 200
#rotation_distance: 33.500
rotation_distance: 5.56182 #5.3 #5.4335  # 5.5435 # 5.5335
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13 #EBBCan:gpio7
#sensor_type: EPCOS 100K B57560G104F
sensor_type: ATC Semitec 104NT-4-R025H42G #ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan: PA3 #EBBCan:gpio27
control: pid
min_temp: 0
max_temp: 300
max_power: 1.0
min_extrude_temp: 175
pressure_advance: 0.040
pressure_advance_smooth_time: 0.040
max_extrude_cross_section: 50.0
max_extrude_only_distance: 200.0

[tmc2209 extruder]
uart_pin: EBBCan: PA15 #EBBCan:gpio20
#run_current: 0.650
run_current: 0.65
hold_current: 0.4
stealthchop_threshold: 0

[fan]
pin: EBBCan: PA1 #EBBCan:gpio13
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
pin: EBBCan: PA0 #EBBCan:gpio14
max_power: 0.75
heater: extruder
heater_temp: 50.0
shutdown_speed: 0.0
kick_start_time: 0.6

[probe]
pin: ~!EBBCan: PB5 #~!EBBCan:gpio22
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 20
samples: 2
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.01
samples_tolerance_retries: 5

activate_gcode:
    {% set PROBE_TEMP = 160 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[safe_z_home]
home_xy_position:176,171
speed: 100.0
z_hop:10