#[gcode_macro LOAD_TOOL]
#gcode:
#    {% set TOOL_NUMBER = params.TOOL_NUMBER|default(0)|int %}
#    {% set TOOL_TEMP = params.TOOL_TEMP|default(210)|float %}
#    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={TOOL_TEMP}    
#    G90
#    SET_DISPLAY_TEXT MSG="Changing Tool: {TOOL_NUMBER}"
#    M117 Changing Tool
#    G1 X15 Y357.00 F20000 ; Go to purge bucket
#    T{TOOL_NUMBER}


#[gcode_macro TOOL_LOADED]
#gcode:
#    {% set RETURN_Z = params.RETURN_Z|default(1)|float %}
#    G90
#    G1 X15 Y357 Z5 F20000
#    G92 E0 ; Reset absolute extruder distance to 0
#    G1 X70 E100 F100 ; Purge by extruding 100mm of new filament (5mm/s)
#    G92 E0
#    G1 E-1;
#    G4 P1000; Pause for 1 second
#    G1 X128 F20000 ; Wipe extruder
#    G1 Z{RETURN_Z + 1} F24000;  Restore original z layer height (travel_speed*60*mm/s)
#    G92 E0 ; Reset extruder absolute positioning


#[gcode_macro CLEAN_NOZZLE_SINGLE]
#gcode:
#    M117 Cleaning Nozzle
#    G0 X128 Y357 Z5 F20000
#    G0 X88 Y357 Z5 F20000

#[gcode_macro CLEAN_NOZZLE_DOUBLE]
#gcode:
#    G0 X128 Y357 Z5 F20000
#    G0 X88 Y357 Z5 F20000
#    G0 X128 Y357 Z5 F20000
#    G0 X88 Y357 Z5 F20000

[gcode_macro _CLEAN_NOZZLE_GANTRY]
gcode:
   SAVE_GCODE_STATE NAME=clean_nozzle_gantry
   G90
   G1 X271.5 F18000
   G1 Y354 F18000
   G1 Z3 F18000
   G1 X231.5 F18000   #ADJUST THIS XVALUE TO BE LEFT OF THE BRUSH, but right of the seal
   G1 X271.5 F18000  #ADJUST THIS XVALUE TO BE RIGHT OF THE BRUSH
   G1 Z10 F18000
   RESTORE_GCODE_STATE NAME=clean_nozzle_gantry

[gcode_macro ANIMATE]
gcode:
    {% for i in range(10) %}
        {% for j in range(0,3) %}
            set_led led=sb_leds white=0 red={ (range(0,1000) | random ) / 1000 | float} green={ (range(0,1000) | random ) / 1000 | float} blue={ (range(0,1000) | random ) / 1000 | float} index={(j % 3) + 1} transmit=0
            set_led led=sb_leds white=0 red={ (range(0,1000) | random ) / 1000 | float} green={ (range(0,1000) | random ) / 1000 | float} blue={ (range(0,1000) | random ) / 1000 | float} index={((j+1) % 3) + 1} transmit=0
            set_led led=sb_leds white=0 red={ (range(0,1000) | random ) / 1000 | float} green={ (range(0,1000) | random ) / 1000 | float} blue={ (range(0,1000) | random ) / 1000 | float} index={((j+2) % 3) + 1} transmit=1
            G4 P300
        {% endfor %}
    {% endfor %}

[include common/*.cfg]

[include exhaust_time.cfg]

[include g32.cfg]

[include print_start.cfg]

[include caselight.cfg]

[include sleep.cfg]

[include wakeup.cfg]

[include disable_cooling.cfg]

[include disable_exhaust.cfg]

[include temp_monitor.cfg]

[gcode_macro PID_HOTEND]
gcode:
  {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
  {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}

  {% set mid_x = max_x / 2.0 %}
  {% set mid_y = max_y / 2.0 %}

  STATUS_BUSY
  HOME_IF_NEEDED
  G0 X{mid_x} Y{mid_y} Z25 F10000
  M106 S64                       ; Turn on the fan
  PID_CALIBRATE HEATER=extruder TARGET=245
  M107
  M84
  STATUS_READY
  SAVE_CONFIG


[gcode_macro PUSHOVER_M600]
gcode:
  RESPOND TYPE=error MSG='Printer Paused for Filament Change'
  {action_call_remote_method("notify",
                             name="gcode_pushover",
                             message="Printer Paused for Filament Change")}
