
# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON2 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Z Endstop Switch location            [safe_z_home] section
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Probe points                         [quad_gantry_level] section
## Min & Max gantry corner postions     [quad_gantry_level] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_0C0039001650335331383520-if00
restart_method: command
##--------------------------------------------------------------------

#[mcu mmu]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_E66160F42388A437-if00

[input_shaper]
shaper_freq_x: 49
shaper_freq_y: 38.6
shaper_type: mzv

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 10000             #Max 4000
max_accel_to_decel: 10000
max_z_velocity: 25          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[idle_timeout]
timeout: 1800
gcode:
    {% if printer.pause_resume.is_paused %}
    M118 Idle Timeout reached
    M117 Disable hotend_fan
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    STATUS_READY
    {% else %}
    SLEEP
    {% endif %}

#####################################################################
# 	Klipper Modules
#####################################################################

[exclude_object]

[respond]

[save_variables]
filename: ~/printer_data/variables.cfg

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: PG6
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 80   #Max 100
homing_retract_dist: 5
homing_positive_dir: true
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: PG9
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 80  #Max 100
homing_retract_dist: 5
homing_positive_dir: true


[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: PG10
position_max: 325
position_min: -5
homing_speed: 15
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999


#####################################################################
#   Extruder
#####################################################################

##  Connected to MOTOR_6
##  Heater - HE0
##  Thermistor - T0
[extruder]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
microsteps: 16
full_steps_per_rotation: 200 #200 for 1.8 degree, 400 for 0.9 degree
rotation_distance: 5.5335 #5.4785 # 5.8 #5.75 #5.8 #5.7
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: PA2
sensor_type: ATC Semitec 104NT-4-R025H42G  # E3d REVO
sensor_pin: PF4
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 170
pressure_advance: 0.040
pressure_advance_smooth_time: 0.040
max_extrude_cross_section: 50.0
max_extrude_only_distance: 200.0
# control = pid
# pid_kp = 26.213
# pid_ki = 1.304
# pid_kd = 131.721

##  E0 on MOTOR6

[tmc2209 extruder]
uart_pin: PE1
interpolate: true
run_current: 0.8
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

#[filament_switch_sensor toolhead_sensor]
#pause_on_runout: False
#switch_pin: PG11

# [gcode_macro TEMPS] #Here's where the magic starts.
#  variable_e_temp: 0 #Initialize variable for extruder temp
#  variable_b_temp: 0 #Initialize variable for bed temp
#  gcode:
#    SET_GCODE_VARIABLE MACRO=TEMPS VARIABLE=e_temp VALUE={printer.extruder.target} #This section pulls the current extruder temp and assigns the value to the variable [e_temp]
#    SET_GCODE_VARIABLE MACRO=TEMPS VARIABLE=b_temp VALUE={printer.heater_bed.target} #This section pulls the current bed temp and assigns the value to the variable [b_temp]

# [gcode_macro RESUME_MACRO] #I call this macro in Octoprint in the "Before print job is resumed" section of the GCODE Scripts settings
# gcode:
#  M190 S{printer["gcode_macro TEMPS"].b_temp} #This entry executes an M190 command with the temperature parameter set to call back to the stored b_temp value
#  M109 S{printer["gcode_macro TEMPS"].e_temp} #This entry executes an M190 command with the temperature parameter set to call back to the stored e_temp value


#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
heater_pin: PA1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF3
max_power: 0.75
min_temp: 0
max_temp: 120
pwm_cycle_time: 0.0166
# control: pid
# pid_kp: 58.437
# pid_ki: 2.347
# pid_kd: 363.769

#####################################################################
#   Probe
#####################################################################

##  Inductive Probe
##  This probe is not used for Z height, only Quad Gantry Leveling
[probe]
pin: PG15
x_offset: 0
y_offset: 25.0
z_offset: 0.1
speed: 60.0
samples: 1
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 10

#####################################################################
#   Fan Control
#####################################################################

##  Print Cooling Fan - FAN0
[fan]
pin: PA8
kick_start_time: 0.5
off_below: 0.10

##  Hotend Fan - FAN1
[heater_fan hotend_fan]
pin: PE5
max_power: 0.75
shutdown_speed: 0.0
kick_start_time: 0.6
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed

##  Controller fan - FAN2
[controller_fan controller_fan]
pin: PD12
shutdown_speed: 0
kick_start_time: 0.6
max_power: 1
fan_speed: 0.75
idle_speed: 0.25
idle_timeout: 30
heater: heater_bed, extruder
fan_speed: 0.5

##  Chamber Cooling Fan - FAN5
[fan_generic cooling_fan]
pin: PD14
max_power: 1.0

#####################################################################
#   LED Control
#####################################################################

[output_pin caselight]
## Chamber Lighting - CNC_FAN5
pin: PD15
pwm: true
shutdown_value: 0
value:0.0
cycle_time: 0.0001
hardware_pwm: true

#####################################################################
#   Additional Sensors
#####################################################################

[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

[temperature_sensor chamber_temp]
## Chamber Temperature - T1
sensor_type: Generic 3950
sensor_pin: PF5
min_temp: 0
max_temp: 100
gcode_id: chamber_th

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
[quad_gantry_level]

##  Gantry Corners for 350mm Build
##  Uncomment for 350mm build
gantry_corners:
   -60,-10
   410,420
#  Probe points
points:
   50,25
   50,275
   300,275
   300,25

#--------------------------------------------------------------------
speed: 400
horizontal_move_z: 15
retries: 20
retry_tolerance: 0.0100
max_adjust: 5


#--------------------------------------------------------------------

[bed_mesh]
speed: 400
horizontal_move_z: 10
mesh_min: 40, 40
mesh_max: 310,310
fade_start: 0.6
fade_end: 10.0
probe_count: 10,10
algorithm: bicubic
zero_reference_position: 178,148

[pause_resume]
recover_velocity: 300.0

#####################################################################
# 	Includes
#####################################################################
[include mainsail.cfg]
[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include mmu/optional/mmu_ercf_compat.cfg]
#[include mmu/optional/mmu_menu.cfg]
[include macros.cfg]
[include accelerometer.cfg]
[include klicky-probe.cfg]
[include stealthburner_leds.cfg]
[include nozzle_scrub.cfg]
[include Adaptive_Mesh.cfg]
[include Adaptive_Purge.cfg]
[include nevermore.cfg]
[include timelapse.cfg]
[include KAMP_Settings.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.348
#*# pid_ki = 1.686
#*# pid_kd = 406.349
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.413
#*# pid_ki = 4.498
#*# pid_kd = 65.815
#*#
#*# [stepper_z]
#*# position_endstop = -0.550
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.046140, 0.062390, 0.004890, -0.020110, 0.001140, -0.001360, 0.061140, 0.061140, 0.054890, 0.007390
#*# 	0.037390, -0.027610, -0.025110, 0.014890, -0.003860, 0.017390, 0.014890, -0.007610, 0.039890, 0.006140
#*# 	-0.030110, 0.018640, -0.017610, -0.027610, 0.004890, -0.000110, 0.031140, 0.024890, -0.021360, 0.023640
#*# 	0.011140, 0.023640, -0.030110, -0.001360, -0.048860, -0.008860, 0.012390, 0.023640, -0.000110, -0.011360
#*# 	0.018640, -0.026360, -0.030110, 0.011140, 0.004890, 0.016140, -0.016360, 0.019890, -0.016360, -0.017610
#*# 	-0.016360, -0.022610, 0.009890, -0.001360, -0.000110, -0.026360, 0.006140, 0.009890, -0.012610, -0.056360
#*# 	0.018640, 0.016140, -0.012610, 0.012390, 0.009890, 0.028640, 0.022390, 0.022390, 0.016140, -0.001360
#*# 	0.017390, 0.024890, 0.014890, 0.016140, -0.033860, 0.013640, 0.004890, 0.017390, 0.021140, -0.021360
#*# 	0.054890, 0.002390, -0.013860, 0.031140, 0.023640, 0.042390, 0.059890, 0.057390, 0.052390, 0.026140
#*# 	0.054890, 0.076140, 0.059890, 0.068640, 0.024890, 0.073640, 0.061140, 0.058640, 0.098640, 0.092390
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 309.19
