#####################################################################
# HOT STANDBY STATE
#####################################################################

[gcode_macro HOT_STANDBY]
variable_ready: 0
variable_last_probe_z: 0.0
gcode:
    M118 HOT_STANDBY ready={printer["gcode_macro HOT_STANDBY"].ready} probe={printer["gcode_macro HOT_STANDBY"].last_probe_z}


#####################################################################
# HOT STANDBY TIMEOUT (60 minutes)
#####################################################################

[delayed_gcode HOT_STANDBY_TIMEOUT]
gcode:
    M118 HOT_STANDBY: Timeout reached - shutting down
    SET_DISPLAY_TEXT MSG="Standby timeout"

    TURN_OFF_HEATERS

    {% if printer['fan_generic Nevermore'] %}
        SET_FAN_SPEED FAN=Nevermore SPEED=0
    {% endif %}

    {% if printer['fan_generic intake_fan'] %}
        SET_FAN_SPEED FAN=intake_fan SPEED=1.0
    {% endif %}

    {% if printer['fan_generic exhaust_fan'] %}
        SET_FAN_SPEED FAN=exhaust_fan SPEED=1.0
    {% endif %}

    SET_GCODE_VARIABLE MACRO=HOT_STANDBY VARIABLE=ready VALUE=0
    SET_GCODE_VARIABLE MACRO=HOT_STANDBY VARIABLE=last_probe_z VALUE=0.0
    SET_GCODE_VARIABLE MACRO=CHAMBER_HEAT_HOLD VARIABLE=enabled VALUE=0

    UPDATE_DELAYED_GCODE ID=HOT_STANDBY_PURGE DURATION=180


#####################################################################
# PURGE COMPLETE
#####################################################################

[delayed_gcode HOT_STANDBY_PURGE]
gcode:
    M118 HOT_STANDBY: Purge finished

    {% if printer['fan_generic intake_fan'] %}
        SET_FAN_SPEED FAN=intake_fan SPEED=0
    {% endif %}

    {% if printer['fan_generic exhaust_fan'] %}
        SET_FAN_SPEED FAN=exhaust_fan SPEED=0
    {% endif %}

    {% if printer['fan_generic cooling_fan'] %}
        SET_FAN_SPEED FAN=cooling_fan SPEED=0
    {% endif %}

    M84