#####################################################################
# LOGGING HELPERS
#####################################################################

[gcode_macro LOG]
description: Simple console logger helper
gcode:
  {% set MSG = params.MSG|default("LOG")|string %}
  M118 {MSG}

[gcode_macro LOG_BLOCK]
description: Visual separator in console
gcode:
  {% set MSG = params.MSG|default("================")|string %}
  M118 ============================================================
  M118 {MSG}
  M118 ============================================================