## Overriden macro to enable MMU parking command to take place immediately
## after the filament cut motion

[gcode_macro MMU_CUT]
gcode:
    _MMU_CUT_TIP

[gcode_macro _FILAMETRIX_DO_CUT_MOTION]
description: Helper to do a single cut movement
gcode:
  LOG_BLOCK MSG="_FILAMETRIX_DO_CUT_MOTION BEGIN"

  {% set pin_park_x_loc = params.PIN_PARK_X_LOC | float %}
  {% set pin_park_y_loc = params.PIN_PARK_Y_LOC | float %}
  {% set vars = printer['gcode_macro _MMU_CUT_TIP_VARS'] %}
  {% set cutting_axis = vars['cutting_axis'] %}
  {% set pin_loc = vars['pin_loc_compressed']|default(-999)|float %}

  LOG MSG="_FILAMETRIX: pin_park_x={pin_park_x_loc} pin_park_y={pin_park_y_loc} axis={cutting_axis}"

  {% if pin_loc != -999 %}
    LOG MSG="_FILAMETRIX: using legacy pin_loc_compressed={pin_loc}"
    # Old one-dimensional pin_loc_compressed config
    {% if cutting_axis == "x" %}
      {% set pin_loc_compressed_x = pin_loc %}
      {% set pin_loc_compressed_y = pin_park_y_loc %}
    {% else %}
      {% set pin_loc_compressed_x = pin_park_x_loc %}
      {% set pin_loc_compressed_y = pin_loc %}
    {% endif %}
  {% else %}
    LOG MSG="_FILAMETRIX: using pin_loc_compressed_xy"
    # New config
    {% set pin_loc_compressed_x, pin_loc_compressed_y = vars.pin_loc_compressed_xy|map('float') %}
  {% endif %}

  {% set cut_fast_move_fraction = vars['cut_fast_move_fraction']|float %}
  {% set cut_fast_move_speed = vars['cut_fast_move_speed']|float %}
  {% set cut_slow_move_speed = vars['cut_slow_move_speed']|float %}
  {% set cut_dwell_time = vars['cut_dwell_time']|float %}
  {% set evacuate_speed = vars['evacuate_speed']|float %}
  {% set rip_length = vars['rip_length']|float %}
  {% set rip_speed = vars['rip_speed']|float %}
  {% set fast_slow_transition_loc_x = (pin_loc_compressed_x - pin_park_x_loc) * cut_fast_move_fraction + pin_park_x_loc|float %}
  {% set fast_slow_transition_loc_y = (pin_loc_compressed_y - pin_park_y_loc) * cut_fast_move_fraction + pin_park_y_loc|float %}

  LOG MSG="_FILAMETRIX: transition=({fast_slow_transition_loc_x},{fast_slow_transition_loc_y}) compressed=({pin_loc_compressed_x},{pin_loc_compressed_y})"
  LOG MSG="_FILAMETRIX: fast={cut_fast_move_speed} slow={cut_slow_move_speed} dwell={cut_dwell_time} evacuate={evacuate_speed} rip_length={rip_length}"

  LOG MSG="_FILAMETRIX: fast move into blade"
  G1 X{fast_slow_transition_loc_x} Y{fast_slow_transition_loc_y} F{cut_fast_move_speed * 60}

  LOG MSG="_FILAMETRIX: slow cut move"
  G1 X{pin_loc_compressed_x} Y{pin_loc_compressed_y} F{cut_slow_move_speed * 60}

  M400
  LOG MSG="_FILAMETRIX: dwell after cut"
  G4 P{cut_dwell_time}
  M400

  {% if rip_length > 0 %}
    LOG MSG="_FILAMETRIX: rip move E-{rip_length}"
    G1 E-{rip_length} F{rip_speed * 60}
  {% else %}
    LOG MSG="_FILAMETRIX: rip skipped"
  {% endif %}

  LOG MSG="_FILAMETRIX: evacuate from blade"
  G1 X{pin_park_x_loc} Y{pin_park_y_loc} F{evacuate_speed * 60}

  LOG MSG="_FILAMETRIX: parking at nozzle stop"
  _MMU_PARK FORCE_PARK=1 X=35 Y=357 Z_HOP=0

  LOG MSG="_FILAMETRIX: restoring print current"
  _SET_PRINT_CURRENT
  M400

  LOG MSG="_FILAMETRIX_DO_CUT_MOTION COMPLETE"


## Custom macro setting print current to a lower value than the configured value
## used via a delayed gcode when initializing the printer as well as after the filament
## cut motion

[gcode_macro _SET_PRINT_CURRENT]
gcode:
  LOG MSG="_SET_PRINT_CURRENT: setting X/Y current to run=0.9 hold=0.8"
  M400
  SAVE_GCODE_STATE NAME=SET_PRINT_CURRENT_STATE
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.9 HOLDCURRENT=0.8
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.9 HOLDCURRENT=0.8
  M400
  G4 P1500
  M400
  RESTORE_GCODE_STATE NAME=SET_PRINT_CURRENT_STATE
  M400
  LOG MSG="_SET_PRINT_CURRENT: complete"


## Custom macro setting the stepper current to a higher value to avoid skipping microsteps
## when cutting filament.
## Called by Happy Hare.

[gcode_macro _SET_CUT_CURRENT]
gcode:
  LOG MSG="_SET_CUT_CURRENT: setting X/Y current to run=1.2 hold=1.2"
  M400
  SAVE_GCODE_STATE NAME=SET_CUT_CURRENT_STATE_2
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT=1.2 HOLDCURRENT=1.2
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT=1.2 HOLDCURRENT=1.2
  M400
  G4 P1500
  M400
  RESTORE_GCODE_STATE NAME=SET_CUT_CURRENT_STATE_2
  M400
  LOG MSG="_SET_CUT_CURRENT: complete"


[gcode_macro PARK]
gcode:
  {% set restore = params.RESTORE|default("0")|int %}
  {% set x = params.X|default("175")|float %}
  {% set y = params.Y|default("175")|float %}
  {% set f = params.F|default("21000")|int %}

  LOG MSG="PARK: restore={restore} x={x} y={y} f={f}"
  G90

  {% if restore == 1 %}
    LOG MSG="PARK: restoring to supplied coordinates"
    G1 X{x} Y{y} F{f}
    RESPOND TYPE=command MSG='PARK.'
  {% elif ((printer.gcode_move.gcode_position.x - 35)|abs > 0.05) or ((printer.gcode_move.gcode_position.y - 357)|abs > 0.05) %}
    LOG MSG="PARK: performing custom park move to nozzle stop"
    M400
    SAVE_GCODE_STATE NAME=SET_CUT_CURRENT_STATE_1
    {% if (printer.gcode_move.gcode_position.y > 315) and (printer.gcode_move.gcode_position.x > 18) %}
      LOG MSG="PARK: moving in front of nozzle wiper"
      G1 Y315 F21000
    {% endif %}
    LOG MSG="PARK: moving to nozzle wiper start"
    G1 X18 F21000
    G1 X18 Y357 F21000
    G1 X35 Y357 F21000
    M400
    RESTORE_GCODE_STATE NAME=SET_CUT_CURRENT_STATE_1
    M400
  {% else %}
    LOG MSG="PARK: already at park position, skipping"
  {% endif %}


## Custom macro to clean the nozzle on the gantry mounted brush after a toolchange
## Invoked by Happy Hare.

[gcode_macro PARK_PURGE_CLEAN]
gcode:
  {% set x = printer.gcode_move.gcode_position.x %}
  {% set y = printer.gcode_move.gcode_position.y %}

  LOG_BLOCK MSG="PARK_PURGE_CLEAN BEGIN"
  LOG MSG="PARK_PURGE_CLEAN: current_pos x={x} y={y}"

  G90
  {% if (x > 35 or y < 350) %}
    RESPOND TYPE=command MSG='PARK..'
    LOG MSG="PARK_PURGE_CLEAN: calling PARK"
    PARK
  {% else %}
    LOG MSG="PARK_PURGE_CLEAN: already near park, skipping PARK"
  {% endif %}

  M400
  RESPOND TYPE=command MSG='BLOBIFIER'
  LOG MSG="PARK_PURGE_CLEAN: calling BLOBIFIER"
  BLOBIFIER
  M400

  LOG MSG="PARK_PURGE_CLEAN: brush clean passes"
  G1 X35 Y357 F18000
  M400
  G90
  RESPOND TYPE=command MSG='Clean'
  G1 X42 F18000
  G1 X75 F18000
  G1 X42 F18000
  G1 X75 Y356 F18000
  G1 X42 F18000
  G1 X105 F18000

  LOG MSG="PARK_PURGE_CLEAN: move away from brush"
  G1 Y310 F18000
  LOG MSG="PARK_PURGE_CLEAN: COMPLETE"


[gcode_macro CLEAN_NOZZLE]
gcode:
  LOG_BLOCK MSG="CLEAN_NOZZLE BEGIN"
  PARK
  M400
  G90

  LOG MSG="CLEAN_NOZZLE: brush passes"
  G1 X42 F18000
  G1 X75 F18000
  G1 X42 F18000
  G1 X75 F18000
  G1 X42 F18000
  G1 X75 Y356 F18000
  G1 X42 F18000
  G1 X75 F18000
  G1 X42 F18000
  G1 X75 F18000
  G1 X42 F18000
  G1 X105 F18000

  LOG MSG="CLEAN_NOZZLE: move away from brush"
  G1 Y310 F18000
  LOG MSG="CLEAN_NOZZLE: COMPLETE"


## Issue push notifications macro from Happy Hare when a print state changes

[gcode_macro _IG_MMU_PRINT_STATE_CHANGED_NOTIFICATIONS]
description: Called when print state changes to raise notifications
gcode:
  {% set state = params.STATE|string %}
  {% set old_state = params.OLD_STATE|string %}
  {% set gate = printer['mmu']['gate'] %}

  LOG MSG="_IG_MMU_PRINT_STATE_CHANGED_NOTIFICATIONS: old={old_state} new={state} gate={gate}"

  {% if not old_state == state %}
    {% if state == "pause_locked" %}
      MR_NOTIFY TITLE="MMU ERROR" MESSAGE="Pause locked - error occured"
    {% elif state == "paused" %}
      MR_NOTIFY TITLE="MMU" MESSAGE="Print paused"
    {% elif state == "error" %}
      MR_NOTIFY TITLE="MMU ERROR" MESSAGE="Some error occured"
    {% endif %}
  {% endif %}


[gcode_macro REFRESH_SPOOLMAN]
description: Refresh tool mapping from spoolman
gcode:
  LOG MSG="REFRESH_SPOOLMAN: refreshing from spoolman"
  MMU_SPOOLMAN REFRESH=1 SYNC=1
  LOG MSG="REFRESH_SPOOLMAN: complete"


[gcode_macro FILAMENTALIST]
gcode:
  {% set gate = params.GATE | default(0) | int %}
  {% set repeats = params.REPEATS | default(20) | int %}
  {% set speed = params.SPEED | default(300) | float %}
  {% set accel = params.ACCEL | default(400) | float %}
  {% set length = params.LENGTH | default(800) | float %}

  LOG_BLOCK MSG="FILAMENTALIST BEGIN"
  LOG MSG="FILAMENTALIST: gate={gate} repeats={repeats} speed={speed} accel={accel} length={length}"

  {% for n in range(repeats) %}
    LOG MSG="FILAMENTALIST: cycle {n + 1}/{repeats}"
    MMU_SELECT GATE={gate}
    MMU_TEST_MOVE SPEED={speed} ACCEL={accel} MOVE={length}
    MMU_TEST_MOVE SPEED={speed} ACCEL={accel} MOVE=-{length}
  {% endfor %}

  LOG MSG="FILAMENTALIST: COMPLETE"