#####################################################################
# PRINT_END
#####################################################################

[gcode_macro PRINT_END]
gcode:
    M118 ================ PRINT_END BEGIN ================
    SET_DISPLAY_TEXT MSG="Print end..."

    {% set unload = params.UNLOAD_AT_END|default(0)|int %}
    {% set heat_hold = printer["gcode_macro CHAMBER_HEAT_HOLD"].enabled|int %}

    STATUS_BUSY
    M400

    {% if unload == 1 %}
        MMU_EJECT
    {% endif %}

    M107

    {% if heat_hold == 1 %}

        M118 PRINT_END: Entering HOT STANDBY
        SET_DISPLAY_TEXT MSG="Hot standby"

        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0

        UPDATE_DELAYED_GCODE ID=_DISABLE_NEVERMORE DURATION=0
        UPDATE_DELAYED_GCODE ID=_DISABLE_EXHAUST DURATION=0
        UPDATE_DELAYED_GCODE ID=_DISABLE_COOLING DURATION=0
        UPDATE_DELAYED_GCODE ID=_DISABLE_INTAKE DURATION=0
        UPDATE_DELAYED_GCODE ID=HOT_STANDBY_PURGE DURATION=0

        M118 PRINT_END: Probing standby reference

        G90
        G1 X150 Y150 F12000
        PROBE

        SET_GCODE_VARIABLE MACRO=HOT_STANDBY VARIABLE=last_probe_z VALUE={printer.toolhead.position.z}

        G91
        G1 Z5 F600
        G90

        SET_GCODE_VARIABLE MACRO=HOT_STANDBY VARIABLE=ready VALUE=1

        UPDATE_DELAYED_GCODE ID=HOT_STANDBY_TIMEOUT DURATION=3600

        M118 PRINT_END: Hot standby ready

    {% else %}

        M118 PRINT_END: Normal cooldown
        TURN_OFF_HEATERS

        {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
        {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
        {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

        {% if printer.toolhead.position.z < (max_z - 40) %}
            {% set z_safe = 40.0 %}
        {% else %}
            {% set z_safe = max_z - printer.toolhead.position.z %}
        {% endif %}

        #G91
        #G1 Z{z_safe} F600
        #G90
        #G1 X{max_x - 10} Y{max_y - 20} F6000

        {% if printer['fan_generic exhaust_fan'] %}
            TIMED_EXHAUST delay=300 power=100
        {% endif %}

        {% if printer['fan_generic cooling_fan'] %}
            TIMED_COOLING delay=300 power=100
        {% endif %}

        {% if printer['fan_generic intake_fan'] %}
            TIMED_INTAKE delay=300 power=100
        {% endif %}

        {% if printer['fan_generic Nevermore'] %}
            TIMED_NEVERMORE delay=300 power=0
        {% endif %}

        M84

    {% endif %}

    PI_FAN_IDLE
    CLEAR_PAUSE
    STATUS_READY

    SET_DISPLAY_TEXT MSG="Print done"

    M118 ================= PRINT_END COMPLETE =================