#####################################################################
# PRINT_VARS
#####################################################################

[gcode_macro PRINT_VARS]
variable_material: "PLA"
gcode:


#####################################################################
# PRINT_START
#####################################################################

[gcode_macro PRINT_START]
gcode:
    M118 ============= PRINT_START BEGIN =============

    {% set MATERIAL = params.MATERIAL|default("PLA")|string %}
    {% set BED = params.BED|default(65)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(210)|float %}

    {% set heat_hold = printer["gcode_macro CHAMBER_HEAT_HOLD"].enabled|int %}
    {% set standby_ready = printer["gcode_macro HOT_STANDBY"].ready|int %}
    {% set last_material = printer["gcode_macro PRINT_VARS"].material %}
    {% set last_probe_z = printer["gcode_macro HOT_STANDBY"].last_probe_z|float %}
    {% set tolerance = 0.03 %}
    {% set fast_start = 0 %}

    SET_GCODE_VARIABLE MACRO=PRINT_VARS VARIABLE=material VALUE="'{MATERIAL}'"

    UPDATE_DELAYED_GCODE ID=HOT_STANDBY_TIMEOUT DURATION=0
    UPDATE_DELAYED_GCODE ID=HOT_STANDBY_PURGE DURATION=0

    UPDATE_DELAYED_GCODE ID=_DISABLE_NEVERMORE DURATION=0
    UPDATE_DELAYED_GCODE ID=_DISABLE_EXHAUST DURATION=0
    UPDATE_DELAYED_GCODE ID=_DISABLE_COOLING DURATION=0
    UPDATE_DELAYED_GCODE ID=_DISABLE_INTAKE DURATION=0

    WAKEUP
    PI_FAN_PRINT

    G21
    M220 S100
    M221 S100
    M107

    {% if heat_hold == 1 and standby_ready == 1 and MATERIAL == last_material and printer.toolhead.homed_axes == "xyz" %}

        M118 FAST START CHECK
        SET_DISPLAY_TEXT MSG="Fast start check"

        G90
        G1 X150 Y150 F12000
        PROBE

        {% set probe_now = printer.toolhead.position.z|float %}
        {% set delta = (probe_now - last_probe_z)|abs %}

        M118 Probe old={last_probe_z} new={probe_now} delta={delta}

        {% if delta <= tolerance %}
            {% set fast_start = 1 %}
            M118 FAST START APPROVED
        {% else %}
            M118 FAST START FAILED
        {% endif %}

    {% endif %}

    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED}

    {% if fast_start == 1 %}

        SET_GCODE_VARIABLE MACRO=HOT_STANDBY VARIABLE=ready VALUE=0
        SET_GCODE_VARIABLE MACRO=HOT_STANDBY VARIABLE=last_probe_z VALUE=0.0

        M118 FAST START MODE

    {% else %}

        SET_GCODE_VARIABLE MACRO=HOT_STANDBY VARIABLE=ready VALUE=0
        SET_GCODE_VARIABLE MACRO=HOT_STANDBY VARIABLE=last_probe_z VALUE=0.0

        BED_MESH_CLEAR
        NOZZLE_START_CLEAN
        G32
        BED_MESH_PROFILE LOAD="default"

    {% endif %}

    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER}

    STATUS_PRINTING
    SET_DISPLAY_TEXT MSG="Printing"

    M118 ============= PRINT_START COMPLETE =============