## Custom macro to clean the nozzle on the gantry mounted brush after a toolchange
## Invoked by Happy Hare.

[gcode_macro NOZZLE_START_CLEAN]
gcode:
  LOG_BLOCK MSG="NOZZLE_START_CLEAN BEGIN"
  HOME_IF_NEEDED
  G90

  {% set x = printer.gcode_move.gcode_position.x %}
  {% set y = printer.gcode_move.gcode_position.y %}

  LOG MSG="NOZZLE_START_CLEAN: current_pos x={x} y={y}"

  # If already close to the park location, dont park.
  {% if (x > 35 or y < 350) %}
    {% if (y > 315) and (x > 18) %}
      LOG MSG="NOZZLE_START_CLEAN: move in front of nozzle wiper"
      G1 Y315 F21000
    {% endif %}
    LOG MSG="NOZZLE_START_CLEAN: move to nozzle wiper start"
    G1 X24 F21000
  {% else %}
    LOG MSG="NOZZLE_START_CLEAN: already near park area"
  {% endif %}

  LOG MSG="NOZZLE_START_CLEAN: move into clean position"
  G1 X20 Y357 F21000

  LOG MSG="NOZZLE_START_CLEAN: heating extruder to 230"
  M106 S13
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=230
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM=230

  LOG MSG="NOZZLE_START_CLEAN: hot wipe passes"
  G1 X35 Y357 F21000
  G1 X42 F18000
  G1 X75 F18000
  G1 X42 F18000
  G1 X75 F18000
  G1 X42 F18000
  G1 X75 Y356 F18000
  G1 X42 F18000
  G1 X75 F18000
  G1 X42 F18000
  G1 X75 F18000
  G1 X42 F18000
  G1 X105 F18000

  LOG MSG="NOZZLE_START_CLEAN: cooling extruder to 160"
  G1 Y315 F21000
  G1 X20 Y357 F21000
  M106 S102
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=160
  TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=160
  M106 S0

  LOG MSG="NOZZLE_START_CLEAN: cool wipe passes"
  G1 X35 Y357 F21000
  G1 X42 F18000
  G1 X75 F18000
  G1 X42 F18000
  G1 X75 F18000
  G1 X42 F18000
  G1 X75 Y356 F18000
  G1 X42 F18000
  G1 X75 F18000
  G1 X42 F18000
  G1 X75 F18000
  G1 X42 F18000
  G1 X105 F18000

  LOG MSG="NOZZLE_START_CLEAN: COMPLETE"