[quad_gantry_level]
gantry_corners:
    -60,-10
    410,420

points:
    35,35
    25,325
    315,325
    315,35

speed: 400
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.0100
max_adjust: 15


[bed_mesh]
speed: 300
horizontal_move_z: 3

mesh_min: 20,20
mesh_max: 330,330

#fade_start: 0.2
#fade_end: 5

probe_count: 15,15
algorithm: bicubic
zero_reference_position: 176,172


[safe_z_home]
home_xy_position: 180.5,169
speed: 150.0
z_hop: 10